# pymysql

In [11]:
import pymysql as mysql
import pandas as pd

In [5]:
#db connect 
db_con = mysql.Connect(
        host = 'localhost',
        port = 3306,
        user ='root',
        passwd = 'ngdin4af',
        db='madang',
        charset = 'utf8'
)
print(db_con)

<pymysql.connections.Connection object at 0x00000150E9F1ED90>

In [12]:
# Cursor Object 가져오기(두개 다 가능, 후자가 df를 만들때 컬럼명을 다 가져올 수 있음?? 확인 필요)
#cursor = db_con.cursor()
cursor = db_con.cursor(mysql.cursors.DictCursor)

In [13]:
#sql 문 만들기 
sql = '''select * from book;
        '''

In [14]:
#쿼리문 실행
cursor.execute(sql)
data = cursor.fetchall() 
db_con.close() # 커넥션 닫음

In [15]:
result = pd.DataFrame(data)
result

   bookid           bookname publisher  price
0       1             축구의 역사      굿스포츠   7000
1       2            축구아는 여자       나무수  13000
2       3             축구의 이해     대한미디어  22000
3       4             골프 바이블     대한미디어  35000
4       5              피겨 교본      굿스포츠   8000
5       6           역도 단계별기술      굿스포츠   6000
6       7             야구의 추억     이상미디어  20000
7       8            야구를 부탁해     이상미디어  13000
8       9            올림픽 이야기       삼성당   7500
9      10  Olympic Champions   Pearson  13000

#  ini파일 읽어서 DB connection

In [1]:
import pymysql as mysql
from python_mysql_dbconfig import read_db_config

#read_db_config()

Error = mysql.Error()

def query_with_fetchone():
    try:
        dbconfig = read_db_config()
        conn = mysql.Connection(**dbconfig)
        cursor = conn.cursor()        
        cursor.execute("SELECT * FROM book")
        row = cursor.fetchone()

        while row is not None:
            print(row)
            row = cursor.fetchone()

    except Error as e:
        print(e)

    finally:
        cursor.close()
        conn.close()


if __name__ == '__main__':
    query_with_fetchone()

(1, '축구의 역사', '굿스포츠', 7000)
(2, '축구아는 여자', '나무수', 13000)
(3, '축구의 이해', '대한미디어', 22000)
(4, '골프 바이블', '대한미디어', 35000)
(5, '피겨 교본', '굿스포츠', 8000)
(6, '역도 단계별기술', '굿스포츠', 6000)
(7, '야구의 추억', '이상미디어', 20000)
(8, '야구를 부탁해', '이상미디어', 13000)
(9, '올림픽 이야기', '삼성당', 7500)
(10, 'Olympic Champions', 'Pearson', 13000)